@if (item(); as item) {
  <div tuiAppearance="floating" tuiCardLarge>
    <header tuiHeader>
      <h2 tuiTitle>
        {{ item.title }}
      </h2>

      <tui-chip [appearance]="itemService.itemStatusColor(item.status)">
        {{ item.status }}
      </tui-chip>
    </header>

    <section>
      {{ item.description }}
    </section>

    <div class="wrapper">
      <tui-ring-chart
        size="m"
        class="tui-space_right-4"
        [value]="[100 - item.riskScore, item.riskScore]"
      >
        <span>{{ item.riskScore }}% Risk</span>
      </tui-ring-chart>
    </div>

    @if (appService.user.role === Role.Admin) {
      <section [tuiAppearance]="itemService.itemStatusColor(itemStatus())" id="item-status-section">
        <tui-textfield tuiChevron [tuiTextfieldCleaner]="false">
          <input tuiComboBox [(ngModel)]="itemStatus" />

          <tui-data-list-wrapper
            *tuiTextfieldDropdown
            new
            [items]="itemService.itemStatuses | tuiFilterByInput"
            [itemContent]="itemService.statusStringify | tuiStringifyContent"
          />
        </tui-textfield>
      </section>

      <footer>
        <button
          appearance="secondary"
          size="m"
          tuiButton
          type="button"
          (click)="updateItemStatus()"
        >
          Save
        </button>
      </footer>
    }
  </div>
}
