# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

.vscode/

backend_go/vendor
backend_go/review_board.exe
backend_go/go.sum
backend_go/go.mod
backend_go/review_board
backend_go/sqlc.yaml

# Compiled output
frontend_ng/dist
frontend_ng/tmp
frontend_ng/out-tsc
frontend_ng/bazel-out

# Node
frontend_ng/node_modules
frontend_ng/npm-debug.log
frontend_ng/yarn-error.log

# IDEs and editors
frontend_ng/.idea/
frontend_ng/.project
frontend_ng/.classpath
frontend_ng/.c9/
frontend_ng/*.launch
frontend_ng/.settings/
frontend_ng/*.sublime-workspace

# Visual Studio Code
frontend_ng/.vscode/*
frontend_ng/!.vscode/settings.json
frontend_ng/!.vscode/tasks.json
frontend_ng/!.vscode/launch.json
frontend_ng/!.vscode/extensions.json
frontend_ng/.history/*

# Miscellaneous
frontend_ng/.angular/cache
frontend_ng/.sass-cache/
frontend_ng/connect.lock
frontend_ng/coverage
frontend_ng/libpeerconnection.log
frontend_ng/testem.log
frontend_ng/typings

# System files
frontend_ng/.DS_Store
frontend_ng/Thumbs.db