<!-- Ignore this part, it is only here to position drawer inside the example block -->
<div class="custom-portal">
  <ng-container #viewContainer />
</div>
<header tuiNavigationHeader>
  <span tuiNavigationLogo>
    <tui-icon icon="@tui.home" />
    <span tuiFade>A very very long product name</span>
    <tui-badge>Test</tui-badge>
  </span>
  <span tuiNavigationSegments>
    <button appearance="secondary-grayscale" tuiButton type="button">Link 1</button>
    <button appearance="secondary-grayscale" tuiButton type="button">Link 2</button>
  </span>
  <hr />
  <button
    appearance="secondary-grayscale"
    iconStart="@tui.plus"
    type="button"
    tuiButton
    tuiChevron
    tuiDropdownOpen
    [tuiDropdown]="createList"
  >
    <span [style.overflow]="'hidden'" [style.text-overflow]="'ellipsis'"> Create </span>
    <ng-template #createList>
      <tui-data-list size="s">
        <button tuiOption new type="button" [routerLink]="['item', 'manage']">Item</button>
        <button tuiOption new type="button">Something else</button>
      </tui-data-list>
    </ng-template>
  </button>
  <button iconStart="@tui.bell" tuiIconButton type="button">
    Notifications
    <tui-badge-notification />
  </button>
  <button iconStart="@tui.ellipsis" tuiIconButton type="button">More</button>
  <tui-avatar src="AI" />
</header>
<div id="container">
  <aside [tuiNavigationAside]="expanded()">
    <header>
      <button iconStart="@tui.home" tuiAsideItem type="button">
        <span tuiFade>A very very long product name</span>
      </button>
    </header>
    <a iconStart="@tui.users" tuiAsideItem [routerLink]="routes.Navigation"> Groups </a>
    <tui-aside-group>
      <button
        automation-id="setting"
        iconStart="@tui.settings"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Settings
        <ng-template>
          <button tuiAsideItem type="button">Account</button>
          <button tuiAsideItem type="button">Notifications</button>
          <button tuiAsideItem type="button">Privacy</button>
        </ng-template>
      </button>
    </tui-aside-group>
    <button
      iconEnd="@tui.chevron-right"
      iconStart="@tui.ellipsis"
      tuiAsideItem
      tuiDropdownHover
      tuiDropdownOpen
      type="button"
      [tuiDropdown]="more"
    >
      More
      <ng-template #more let-close>
        <tui-data-list tuiDataListDropdownManager>
          <button iconStart="@tui.pencil" tuiAsideItem type="button">Write</button>
          <button iconStart="@tui.pie-chart" tuiAsideItem type="button" [tuiDropdown]="submenu">
            Categories
            <ng-template #submenu>
              <tui-data-list>
                <button tuiAsideItem type="button" (click)="close()">
                  Fiction (will close menu)
                </button>
                <button tuiAsideItem type="button">Non-Fiction</button>
                <button tuiAsideItem type="button">Children</button>
              </tui-data-list>
            </ng-template>
          </button>
        </tui-data-list>
      </ng-template>
    </button>
    <footer>
      <button iconStart="@tui.star" tuiAsideItem type="button">Favorites</button>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="handleToggle()"
      >
        {{ expanded() ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>
  <main tuiNavigationMain>
    <nav compact tuiSubheader>
      <tui-breadcrumbs [itemsLimit]="10">
        @for (item of breadcrumbs; track $index; let last = $last) {
          <ng-container>
            @if (last) {
              <ng-container>
                <strong *tuiItem tuiFade>
                  {{ item }}
                </strong>
              </ng-container>
            } @else {
              <ng-container>
                <button *tuiItem tuiLink type="button">
                  {{ item }}
                </button>
              </ng-container>
            }
          </ng-container>
        }
      </tui-breadcrumbs>
      <tui-tabs tuiFade>
        <button tuiTab type="button">Default view</button>
        <button tuiTab type="button">Details</button>
        <button tuiTab type="button">Followers</button>
      </tui-tabs>
      <button appearance="secondary" tuiButton type="button">Secondary</button>
      <button tuiButton type="button">Primary</button>
    </nav>
    <div id="main-route">
      <router-outlet />
    </div>
  </main>
</div>
