<!-- Ignore this part, it is only here to position drawer inside the example block -->
<div class="custom-portal">
  <ng-container #viewContainer />
</div>
<header tuiNavigationHeader>
  {{
    this.router.currentNavigation()
  }}
</header>
<div id="container">
  <aside [tuiNavigationAside]="expanded()">
    <header>
      <button iconStart="@tui.home" tuiAsideItem type="button" (click)="routeTo(['home'])">
        <span tuiFade>Home</span>
      </button>
    </header>
    <tui-aside-group>
      <button automation-id="setting" iconStart="@tui.plus" tuiAsideItem tuiChevron type="button">
        Create
        <ng-template>
          <button tuiAsideItem type="button" (click)="routeTo(['home','item', 'manage'])">Item</button>
        </ng-template>
      </button>
    </tui-aside-group>
    <a
      iconStart="@tui.clipboard-clock"
      tuiAsideItem
      (click)="routeTo(['home', 'logs'])"
    >
      Logs
    </a>

    <footer>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="handleToggle()"
      >
        {{ expanded() ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>
  <main tuiNavigationMain>
    <nav compact tuiSubheader>
      <tui-breadcrumbs [itemsLimit]="10">
        @for (item of breadcrumbs(); track $index; let last = $last) {
          <ng-container>
            @if (last) {
              <ng-container>
                <strong *tuiItem tuiFade>
                  {{ item }}
                </strong>
              </ng-container>
            } @else {
              <ng-container>
                <button *tuiItem tuiLink type="button">
                  {{ item }}
                </button>
              </ng-container>
            }
          </ng-container>
        }
      </tui-breadcrumbs>
    </nav>
    <div id="main-route">
      <router-outlet />
    </div>
  </main>
</div>
