<div id="container">
  <search tuiSearch>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset tuiTextfieldSize="s">
        <tui-textfield iconStart="@tui.search">
          <input formControlName="itemName" placeholder="Item Title" tuiTextfield />
        </tui-textfield>

        <tui-textfield
          iconStart="@tui.user-round"
          multi
          tuiChevron
          [tuiTextfieldCleaner]="false"
          [stringify]="userStringify"
          [disabledItemHandler]="userspreventArbitrary"
          [rows]="2"
        >
          <input
            tuiInputChip
            placeholder="Filter by User"
            formControlName="selectedUsers"
            (input)="queryUsers($event)"
          />

          @if (users() | tuiFilterByInput; as items) {
            <ng-template tuiTextfieldDropdown>
              <tui-data-list-wrapper
                new
                tuiMultiSelectGroup
                [items]="items"
                [itemContent]="userStringify | tuiStringifyContent"
              />
            </ng-template>
          }
        </tui-textfield>

        <button size="s" tuiButton type="submit">Search</button>
      </fieldset>

      <fieldset tuiTextfieldSize="s">
        <tui-textfield
          iconStart="@tui.tag"
          multi
          tuiChevron
          [tuiTextfieldCleaner]="false"
          [stringify]="tagStringify"
          [disabledItemHandler]="tagspreventArbitrary"
          [rows]="2"
        >
          <input
            tuiInputChip
            placeholder="Filter by Tag"
            formControlName="selectedTags"
            (input)="queryTags($event)"
          />

          @if (tags() | tuiFilterByInput; as tags) {
            <ng-template tuiTextfieldDropdown>
              <tui-data-list-wrapper
                new
                tuiMultiSelectGroup
                [items]="tags"
                [itemContent]="tagStringify | tuiStringifyContent"
              />
            </ng-template>
          }
        </tui-textfield>
      </fieldset>

      <fieldset tuiTextfieldSize="s">
        <tui-filter
          formControlName="itemStatus"
          size="s"
          [items]="itemService.itemStatuses"
          [content]="itemService.statusesStringify"
        />
        <hr />
        <button
          appearance="flat"
          iconStart="@tui.rotate-cw"
          size="m"
          tuiButton
          type="reset"
          [disabled]="!count()"
        >
          Clear {{ count() ? '(' + count() + ')' : '' }}
        </button>
        <span [style.margin-inline-start]="'auto'"> Results: {{ items().length }} </span>
      </fieldset>
    </form>
  </search>

  <div tuiAppearance="action-grayscale" tuiCardLarge id="items-container">
    <section id="items">
      @for (item of items(); track $index) {
        <div tuiAppearance="floating" tuiCardLarge>
          <header tuiHeader>
            <h2 tuiTitle>
              {{ item.item.title }}
            </h2>
            <tui-chip [appearance]="itemService.itemStatusColor(item.item.status)">
              {{ item.item.status }}
            </tui-chip>
          </header>

          <section>
            {{ item.item.description }}
          </section>

          <section class="tags">
            @for (tag of item.tags; track $index) {
              <tui-chip appearance="outline">#{{ tag.name }}</tui-chip>
            }
          </section>

          <div class="wrapper">
            <tui-ring-chart
              size="m"
              class="tui-space_right-4"
              [value]="[100 - item.item.riskScore, item.item.riskScore]"
            >
              <span>{{ item.item.riskScore }}% Risk</span>
            </tui-ring-chart>
          </div>

          <footer>
            <button
              appearance="secondary"
              size="m"
              tuiButton
              type="button"
              [routerLink]="['..', item.item.id]"
            >
              Details
            </button>

            @if (usersMap().get(item.item.creatorID); as user) {
              <tui-chip size="m" [style.border-radius.rem]="5">
                {{ user.email }} - {{ user.username }}
              </tui-chip>
            }
          </footer>
        </div>
      }
    </section>
  </div>
</div>
