<form tuiForm="l" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <header tuiHeader>
    <h3 tuiTitle>New Item</h3>
  </header>

  <tui-textfield>
    <label tuiLabel>Title</label>
    <input tuiTextfield formControlName="title" />
  </tui-textfield>
  <tui-error [error]="titleError()" />

  <tui-textfield>
    <label tuiLabel>Description</label>
    <textarea tuiTextarea formControlName="description"></textarea>
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Enter a number</label>

    <input tuiInputNumber formControlName="amount" [prefix]="'USD' | tuiCurrency" />
  </tui-textfield>
    <tui-error [error]="amountError()" />

  <tui-textfield multi>
    <input placeholder="Tags" formControlName="tags" tuiInputChip (input)="onTagInput($event)" />
    <tui-input-chip *tuiItem />
    @if (tagStrings() | tuiHideSelected | tuiFilterByInput; as items) {
      <ng-container>
        @if (items.length) {
          <ng-template tuiTextfieldDropdown>
            <tui-data-list-wrapper [items]="items" />
          </ng-template>
        }
      </ng-container>
    }
  </tui-textfield>
  <tui-error [error]="tagsError()" />

  <button tuiButton type="submit" [disabled]="itemForm.invalid">Create</button>
</form>

